NODE_ENV=development
PORT=3000
HOST=0.0.0.0

REDIS_URL=

SMS_API_URL=
SMS_API_LOGIN=
SMS_API_PWD=
SMS_API_CgPN=

DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_DIALECT=


UNIFI_HOST=127.0.0.1
UNIFI_PORT=8443
UNIFI_USERNAME=
UNIFI_PASSWD=

TIME_OF_USE=120 # 2 hour